<article class="archive__article">
	<div class="archive__article-inner">
		<%- partial('post/date', { class_name: 'archive__article-date', date_format: 'Do MMMM' }) %>
		<%- partial('post/title', { class_name: 'archive__article-title' }) %>
	</div>
</article>
