@import "shared/variables";
@import "shared/mixins";

@import "~normalize.css/normalize.css";
@import "components/archive/main";
@import "components/article/main";
@import "components/article-nav/main";
@import "components/footer/main";
@import "components/header/main";
@import "components/highlight/main";
@import "components/pagination/main";
@import "components/widget/main";

body {
	background-color: $color-background;
	font-family: $font-sans;
	font-size: $font-size;
	line-height: $line-height;
}

a {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}

.outer {
	max-width: 900px;
	margin: 0 auto;

	@include large {
		display: flex;
	}
}

.sidebar {
	margin: 20px;

	@include large {
		width: 200px;
		margin: 0 0 0 20px;
	}
}

.main {
	@include large {
		flex: 1;
		min-width: 0;
	}
}
