<% if (post.categories && post.categories.length) { %>
	<div class="article__category">
		<%- list_categories(post.categories, {
			show_count: false,
			class: 'article__category',
			style: 'none',
			separator: '►'
		}) %>
	</div>
<% } %>
