.article {
	margin: $block-margin 0;
}

.article__inner {
	@include block;
}

.article__header {
	padding: $article-padding $article-padding 0;
}

.article__title {
	font-weight: bold;
	font-size: 2em;
	margin: 1em 0;
	display: block;
}

.article__date {
	@include block-caption;
	display: inline-block;
}

.article__category {
	display: inline-block;
	line-height: 1em;
	margin-left: 8px;

	&:before {
		margin-left: 8px;
		content: "\2022";
	}
}

.article__category-link {
	@include block-caption;
	margin: 0 12px;
}

.article__footer {
	font-size: 0.85em;
	border-top: 1px solid $color-border;
	margin: 0 $article-padding;
	line-height: $line-height;
}

.article__tag-list {
	padding: 0;
}

.article__tag-list-item {
	display: inline-block;
	margin-right: 10px;
}

.article__tag-list-link {
	display: block;
	margin: 10px 0;
}
