.article {
	margin: $block-margin 0;
}

.article__title {
	font-size: 2em;
	font-weight: bold;
	line-height: 1.1em;
}

.article__date {
	@include block-caption;
	float: left;
}

.article__category {
	float: left;
	line-height: 1em;
	margin-left: 8px;

	&:before {
		content: "\2022";
	}
}

.article__category-link {
	@include block-caption;
	margin: 0 12px 1em;
}

.article__footer {
	font-size: 0.85em;
	border-top: 1px solid $color-border;
	margin: 0 $article-padding;
	line-height: $line-height;
}
