// Colors
color-default = #555
color-grey = #999
color-border = #ddd
color-link = #258fb8
color-background = #eee

// Fonts
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-size = 14px
line-height = 1.6em
line-height-title = 1.1em

// Layout
block-margin = 20px
article-padding = 20px

// Media queries
mq-normal = "screen and (min-width: 768px)"
