.archive__year {
	@include block-caption;
	color: $color-grey;
	display: block;
	margin: 1em 0;
}

.archive__article-inner {
	@include block;
	padding: 10px;
}

.archive__article-date {
	color: $color-grey;
	font-size: 0.85em;
}

.archive__article-title {
	display: block;
	font-weight: bold;
}
