.archive {
	margin: 20px 0;
}

.archive__title,
.archive__year {
	padding-left: 20px;

	@include large {
		padding-left: 0;
	}
}

.archive__title {
	@include title;
}

.archive__block {
	column-gap: 10px;
	column-count: 2;

	@include large {
		column-count: 3;
	}
}

.archive__year {
	font-weight: bold;
	line-height: 1em;
	color: $color-grey;
	display: block;
	padding-top: 1em;
	padding-bottom: 1em;
}

.archive__article {
	break-inside: avoid;

	// HACK for box shadow
	padding-bottom: 1px;
}

.archive__article-inner {
	@include block;
	padding: 10px;
}

.archive__article-date {
	color: $color-grey;
	font-size: 0.85em;
}

.archive__article-title {
	display: block;
	font-weight: bold;
}
