.archives-wrap
  margin: block-margin 0

.archives
  clearfix()

.archives
  column-gap: 10px
  @media mq-tablet
    column-count: 2
  @media mq-normal
    column-count: 3

.archive-article
  avoid-column-break()

.archive-article-footer
  margin-top: 1em
