<% if (site.posts.length) { %>
	<div class="widget">
		<h3 class="widget__title"><a href="/archives">Archives</a></h3>
		<div class="widget__body"><%- list_archives({type: 'monthly', show_count: false }) %></div>
	</div>
<% } %>
