// Colors
$color-black: #000000;
$color-grey: #999999;
$color-light-grey: #eeeeee;
$color-white: #ffffff;
$color-dark-blue: #1d5263;

$color-background: $color-light-grey;
$color-border: #dddddd;
$color-footer-background: #262a30;
$color-link: #258fb8;

// Other
$article-padding: 20px;
$block-margin: 20px;

// Typography
$line-height: 1.6em;
$font-size: 14px;

$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Georgia, "Times New Roman", serif;
$font-mono: monospace;
