<% if (post.prev || post.next) { %>
<nav class="article-nav">
	<!--googleoff: all-->
	<% if (post.prev) { %>
		<a href="<%- url_for(post.prev.path) %>" class="article-nav__newer">
			<strong class="article-nav__caption">Newer</strong>
			<div class="article-nav__title"><%= post.prev.title %></div>
		</a>
	<% } %>
	<% if (post.next) { %>
		<a href="<%- url_for(post.next.path) %>" class="article-nav__older">
			<strong class="article-nav__caption">Older</strong>
			<div class="article-nav__title"><%= post.next.title %></div>
		</a>
	<% } %>
	<!--googleon: all-->
</nav>
<% } %>
