<% if (site.posts.length) { %>
	<div class="widget">
		<h3 class="widget__title"><a href="<%- url_for() %>">Recent Posts</a></h3>
		<div class="widget__body">
			<ul>
				<% site.posts.sort('date', -1).limit(5).each(function(post) { %>
					<li><a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a></li>
				<% }) %>
			</ul>
		</div>
	</div>
<% } %>
